<div class="container mt-5"> <!--mt-5表示margin-top 有6档可选-->
  <div *ngIf="!registerMode" style="text-align: center">
  <h1>在这里，你将找到另一半</h1>
  <p class="lead">快来查看你的 soulmate...</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">注册</button> <!--mr-2 表示margin-right-->
    <button class="btn btn-info btn-lg">了解更多</button>
  </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register  (cancelRegister)="canCancleRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<!-- <p *ngFor="let value of values">{{value.name}}</p>  -->